<html>
    <!--ich bin ein Kommentar-->
    <!--Enthält Informationen über das Dokument-->
    <head>
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#b91d47">
      <meta name="theme-color" content="#ffffff">
      <link rel="stylesheet" href="styles.css">
        <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />                  
      
        <title>
            N27 - Login
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    </head>
        
  <body>
    <h1>Bitte melden Sie sich hier an!</h1>
    <nav>      
      <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>                        
      <a href="/login">Logout</a>        
      <a href="/impressum">Impressum</a> 
      <a href="mailto:stefan.baeumer@berufskolleg-borken.de"> <i class="fa fa-envelope-o"></i></a>
  </nav>
    <form method="POST" action="/">
      <!-- Element, das etwas anzeigt -->
      <label>Benutzer-ID:</label>
      <!-- Element vom Typ Text, in das getippt werden kann -->
      <input type="text" name="idKunde">
      <label>Kennwort:</label>
      <!-- Element vom Typ Password, das Eingaben maskiert -->
      <input type="password" name="kennwort">
      <!-- Element vom Typ Button, das eine Schaltfläche zeigt -->
      <button>Login</button>
    </form>     
  
  </body>
</html>