<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Object EJS</title>
</head>
<body>
   <h2>Rechteck</h2> 
   <p>Breite: <%=breite %></p>
   <p>Länge: <%=länge %></p>
    <hr>
    <h2>Schüler</h2>
    <p>Gechlecht: <%=geschlecht%></p>
    <p>Vorname: <%=vorname%></p>
    <p>Alter: <%=alter%></p>
    <hr>
    <h2>Fussballer</h2>
    <p>Name: <%=name %></p>
    <p>Verein: <%=verein %></p>
    <p>Position: <%=position %></p>
    <hr>
</body>


</html>

